fancytree-title{white-space: normal;}

ul.fancytree-container {
    max-height: 95vh;
    width: 100%;
    border: none;
    overflow: auto;
/*    position: relative;*/
}
#rightSide{
/*overflow: scroll;*/

/*    position: sticky;*/
/*    top: 0;*/
    }
#leftMenu{
/*    height: calc(70vh - 100px);*/
}
#conceptContent{
    padding-right: 5px;
}

.pastilleLabelBlue{
    background-color: #337ab7!important;
    display: inline-block!important;
    border-radius: 1.2em!important;
    padding-right:0.2em!important;
    padding-left:0.3em!important;
    color:white!important;
/*    margin-top: 10px;*/
    margin-right: 5px!important;
    font-size:0.9em;
}

.pastilleURI, .pastilleSquare{
display: inline-block;
margin:2px;
padding:2px;    
    border-radius: 0em!important;
    margin-right:-1px;
}
.URI, .conceptStatus{
display: inline-block;
margin: 5px 0 10px 0em;
/*padding:10px 1em 0 0em;*/
    background-color: #f5f5f5;
    letter-spacing: 2px;
}

.conceptTag{
float:right;
    font-size: 75%;
    padding-left: 2em;
    padding-top:7px;
}

.panel-terms {

width: 48%;
    max-width: 48%;
    margin: 2px;
white-space: normal;
float: left;
text-align:left;
}
.panel-terms > .panel-heading, .panel-terms > .panel-body{
    padding: 10px;
}

.skosLabel{
/*    opacity: 0.9;*/
    font-size:smaller;
    display: block;
}
.skosQuestion{
    vertical-align: super;
    font-size: x-small;
    padding-left: 1em;
}

.conceptLink:hover{
cursor: pointer;
    color:#2172B8;
}
.term-list{padding-left: 3px;}
.term-list-item{
    list-style: none;
    margin: 0 0 7px 0;
}
.panel-genNote {
    width: 100%;
    max-width: 100%;
    margin: 2px;
    white-space: normal;
    float: left;
    text-align:left;
    }
/*.sideToolPane {
/\*    z-index: 1000;*\/
}*/
.dropdown-inline, .dropdown-inline > div {display:flex;}

.idConceptInSearch{
    font-style: italic;
    padding: 0 0 0 2em;
}

.modal{
/*position: fixed;
width: 50%;

top: 50%;
left: 50%;
margin-top: -150px; /\* Negative half of height. *\/
margin-left: -300px; /\* Negative half of width. *\/
*/    
}
#selectedConceptURI {
    margin: 1em;
}

.elementHidden{display: none!important;}

.smallRoundButton{
background-color: #286090;
color: white;
border: 0!important;
padding: 2px !important;
font-size: smaller;

border-radius: 50%!important;}

.transparentButton{
    color: #286090;
    background-color: transparent;
    border: none;
}

.ui-autocomplete .ui-menu-item{
    list-style: none;
}

.elementWithValue > .open>.dropdown-menu{display: contents;}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
}
/*
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/