#content{
    margin: 0px 10px 1000px 20px;
    width: 96%;
}
#messageZone{
    display: none;
    position: fixed;
    bottom: 0;
    left:0;
    background-color: transparent;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: display 10s;
    padding: 0.5em 1em 0 0;
    height: 2em;
}
#messageZone .active{
    z-index: 3000;
    background-color: #35ce02;
    
}

p {margin-top: 0;
    margin-bottom: 0;}

.modal{
     min-width: 50%;
     left: 5%;
     top: 5%;
     /* right:auto; */
    /*  bottom: auto; */
     overflow-y: auto;
     padding: 1em;

 }
 
.saveTextButton{
/*display: none;*/
margin: 2px;
}

.textModifiedAlert{
display: none;
background-color:#d9534f;
line-height:2em;
color: white;
font-weight:bold;
margin: 2px;
padding: 0 1em 1em 1em;
}

.textModifiedAlert > textarea {width: 100%;
}

.importTextSection{
    display: inline;
}

.ace_editor {
        position: relative !important;
        border: 1px solid lightgray;
        margin: auto;
        height: 200px;
        line-height: 1.5em;
        width: 100%;
    }

.ace_editor .ace_marker-layer .ace_selection {
/*    background: black!important;*/
    
}


.panel-body{
    
}


.form-group{display: inline;}

.form-control{
display: inline-table;
/* height: initial; */
/*width: inherit;*/
border: 1px solid grey;
/* padding: 1em; */
}

.forminput{
/*    max-width: 100%;*/
}
.input-group{display:flex;
  width: 100%;}

.teiElement{
    display: inline-table!important;
    margin: 5px 0 5px 0;
    padding: 5px;
    border: 1px solid #e2e0e0;
/*    float: left;*/

    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
/*    max-width: 90%;*/
}
.teiElementValue{display: inline-block!important;
background-color: white;
padding: 1px 5px 1px 5px;
border-radius: 4px;
/*    max-width: 90%;*/
}
#date{color:red;}

.teiElementVisible{display: inline-table;}
.teiElementHidden {
    display: none!important;
}
.input-group > .form-control {
/*      width: 100%;*/
    }
/*.teiElement > input {width: 90%;}*/
.labelForm{
display: inline-flex;
    padding: 2px 5px 2px 5px;
    margin: 0 10px 0 0;
    border-radius: 4px;
    color: white;
    background-color:#7D1D20;
    vertical-align: middle;
}
.teiInfo{margin: 0 2px 0 5px;
    font-size: smaller;
    }
    .labelForm > .teiInfo >a {color: white!important;}    
.editbutton{display: inline;
            margin
            : 0 0 0 1em}
            
.addItem{
    
    font-size: 0.5em;
    
    border-radius: 50% 50%!important;
    
    
/*    left: -2em;*/
}
.teiElementGroup{
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
    display: table;
    width: 100%;
    border-radius: 4px;
/*    background-color: rgba(125, 29, 32, .4);*/
    
}
.TeiElementGroupHeaderBlock{
    display: block;
/*    float: left;*/
}
.TeiElementGroupHeaderInline{
    display: inline-block;
/*    float: left;*/
}
.itemInDisplayElement{
    float: left;
/*    position: relative;*/
/*    left: 1em;*/
    margin: 2px;
}
.elementsByGroup  {
    border-width: 2px;
}
.elementsByGroup  > .teiElementGroup{
/*    float: left;*/
    width:auto!important;
    display: inline-flex;
}
.input-group-addon{
    width: 18%!important;
    font-size:10px;
}
.sectionPanel{
    display: table;
    width: 100%;
    border: 1px solid black;
    background-color: transparent!;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.sectionPanel > ul{ display: inline-table;
    
list-style-type: decimal ;
}
.surfaceId:before, .surfaceId:after{
    content: " | "
}
.surfaceDesc{
    display: inline-block;
    font-style: italic;
}

.urlInTeiElement{
    font-size: small;
    font-style: italic;
}

.cursorPreview{
    animation: blinker 1s linear infinite;
    color: #7D1D20;
    font-weight:bold;
}
.selectionPreview{
    background-color: #7d1d20;
    color: white;

}
@keyframes blinker {
  50% {
/*    opacity: 0;*/
  }
}
.xmlEditor{
    resize: both!important;
    padding: 10px;
/*    overflow: auto;*/
}
.textpartPane{
    background-color: white;
    margin-top: 5px;
    padding: 2px;
    box-shadow: 5px 5px 5px #888888;

/*    Overflow was sisabled to enable sticky behaviour on xmltoolbar*/
/*overflow: hidden; /\* in order to contain content *\/*/

    transition: 0.7s;
  -webkit-transition: 0.7s;
border-radius: 5px;    
    border: 1px solid #888888;
    
    
}
.sideToolPane{
/*    position: -webkit-sticky;  /\*Safari*\/ */
z-index: 999;
    position: sticky;
    top: 0;
border-radius: 5px;
padding: 5px;
margin: 0 -2px 0 2px;
background-color: white;
height: 100%;
/*overflow: auto;*/
}

.btnTextConverter{
    margin: 2px;
}

.overlap{
        background: #ccc!important;
}
.textPreviewHTML, .textPreviewHTMLOverview{
/*position: absolute;
height: 200px;*/
     display: block;
    
    margin-left: 2em;
/*        box-shadow:0px 5px 5px #888888;*/
        line-height: 2.5em!important;
        letter-spacing: .1em!important;
        /*text-indent: -2em;*/
    /*    color:red;*/
/*    border: 1px dotted #7D1D20;*/
/*    background-color: white;*/
    position: relative;
/*    top:-.9em;*/
}
.textPreviewHTMLOverview{
padding: 1em 5px 5px 20px;
}
.textPreviewHTML{padding: 0em 5px 5px 20px;}

.surfaceImage{float: right;
/*margin: 5px;*/
 box-shadow: 5px 5px 5px #888888;
 padding: 1px 0 1px 1px;
}
.surfaceImage > img {
    width: 99%;
}



/*Styles for Preview plane*/

.lineNo{
    position: absolute;
    left: -3.2em;
}
.colNo{
    position: absolute;
    left: -4.5em;
/*    top: 2.5em;*/
}
.hiddenExtraNo{ visibility: hidden}

.lineNo.no1,.lineNo.no2, .lineNo.no3,
.lineNo.no5, .lineNo.no6, .lineNo.no7,
.lineNo.no9, .lineNo.no10, .lineNo.no11,
.lineNo.no13, .lineNo.no14, .lineNo.no15, 
.lineNo.no17, .lineNo.no18, .lineNo.no19,
.lineNo.no21,.lineNo.no22, .lineNo.no23,
.lineNo.no25, .lineNo.no26, .lineNo.no27,
.lineNo.no29, .lineNo.no30, .lineNo.no31,
.lineNo.no33, .lineNo.no34, .lineNo.no35,
.lineNo.no37, .lineNo.no38, .lineNo.no39,
.lineNo.no41,.lineNo.no42, .lineNo.no43,
.lineNo.no45, .lineNo.no46, .lineNo.no47,
.lineNo.no49, .lineNo.no50, .lineNo.no51, 
.lineNo.no53, .lineNo.no54, .lineNo.no55,
.lineNo.no57, .lineNo.no58, .lineNo.no59,
.lineNo.no61, .lineNo.no62, .lineNo.no63,
.lineNo.no65, .lineNo.no66, .lineNo.no67,
.lineNo.no69, .lineNo.no70, .lineNo.no71,
.lineNo.no73, .lineNo.no74, .lineNo.no75,
.lineNo.no77,.lineNo.no78, .lineNo.no79,
.lineNo.no81, .lineNo.no82, .lineNo.no83,
.lineNo.no85, .lineNo.no86, .lineNo.no87,
.lineNo.no89, .lineNo.no90, .lineNo.no91,
.lineNo.no93, .lineNo.no94, .lineNo.no95,
.lineNo.no97, .lineNo.no98, .lineNo.no99,
.lineNo.no101{
display: none;
/*    visibility: hidden;*/
}

/*#w{display: inline;}*/

.teiPreviewperson{
/*border: 1px dashed #7d1d20;*/
padding: 7px 1px 7px 1px;}

/*.persName.teiPreviewperson:before{
    content:"\1F464";
}
*/
.teiPreviewperson.name{
    color: #648c20!important;
}

.teiPreviewperson.name.praenomen{
    color: #CDD490!important;
}

.teiPreviewperson.name.nomen{
    color: #D490AB!important;
}

.teiPreviewperson.name.cognomen{
    color: #199AEF!important;
}

.teiPreviewperson.persName{
/*    background-color: #E5FFD0;*/
     border: 1px dashed #7d1d20;
    padding: 7px 1px 7px 1px;
}
/*name[type=nomen] {
    color: #D490AB!important;
    
}
name[type=cognomen] {
    color: #CDD490!important;
    
}
*/
.teiPreviewSubject{
    background-color: #99D9F8;
    cursor: pointer;
    padding: 7px 1px 7px 1px;
}




.teiPreviewplace{
border: 1px dashed blue;
padding: 3px 1px 3px 1px;}
/*.teiPreviewplace:before{
    content:"\2318";
}*/
.teiPreviewfunction:before{
    content:"\2666";
}
.teiPreviewpevent{
border: 1px dashed green;
padding: 3px;}
.teiPreviewfunction{
border: 1px dashed black;
padding: 2px 1px 2px 1px;}

.semanticAnnotation {
margin: 1px;
display: inline;
/*position: relative*/
;}

.annotationTag{
display: none;
    position: absolute;
    top: -2.5em;
    font-size: 8px;
/*    padding: 0 0 50px 0;*/
}
.annotationRef{display: none;}
.annotationRef:hover{display: block}


.selectionNotXml{
    color: red;
    
}
.selectionNotXml:before, .selectionNotXml:after{
    content: "⚠";
}

.fullWidth{
    width: 100%;
}
/*.hidden{display: none!important;}*/



.hiddenbfTextArea{
    position:fixed;
    opacity:0;
    top:0;
    left: 0;
    z-index: -100000;
}



.fullScreen{
    
    width: 100vw;
  height:100vh;
}
.xmlToolBar{
width: 100%;
    display: inline-block;
    border-radius: 5px;
    border:1px solid #428bca;
    padding: 5px;
    margin: 2px;
    z-index: 500;
    background: white;
/*    position: -webkit-sticky; /\* Safari *\/*/
  position: sticky;
  top: 0;
}
ul.nav.navbar-nav.navbar-right.adminMenu > div > li > ul {/* Added because of sticky xmltoolbox */
    z-index: 10000;
}
.toolBarTitle{
/*    font-size: smaller;*/
    display: block;
    color: #428bca;
    background-color: white;
}

.disabledToolBar{
    opacity: 0.5;
/*     pointer-events: none;*/
     
}
.previewToolbar{display: inline-block;
/*float: left;*/
margin-left: 4em;
z-index: 1000000;
}
.listItem{
     border-radius: 5px;
     background-color: #428bca;
     color: #ffffff;
     padding: 2px;
     margin: 2px 4px 2px 4px;
     display: inline-block;
     white-space: normal!important;
}
.btn .listItem{
    
}
.listItem:hover{
    color: #ffffff;
}

.itemList > span> a {
    color: #ffffff;
}

.subSectionTitle{
    display: block;
    font-style: italic;
    position: relative;
    font-weight: bold;
    
}
.sectionInPanel{
    margin: 1em 5px 1em 0;
    padding: 2px;
    
}
#placeLookUpPanel{
    overflow:auto;
}

.insertTagWithDropDown{
    vertical-align: middle;
}

button.inline{
    margin:2px;
}
#addNewPlaceButton{
    
}
.div4Modals{
        position: initial!important;}



/*********************
*       Biblio     *
********************
*/

.ui-autocomplete{
   z-index:1050;       /*Where 50 is just an arbitrary number superior to your form's z-indexes*/
}

.bibRef{
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     background-color: #428bca;
     color: #ffffff;
     padding: 2px;
     margin: 2px 4px 2px 4px;
     display: inline-block;
}


.previewpane{
/*    position: relative;*/
    
    
    padding: 2px 2px 2px 2em;
/*    border: 1px solid #888888;*/
/*    box-shadow: 5px 5px 5px #888888;*/
    
}
.currentXMLElement{
/*    border: 1px solid #888888;*/
    box-shadow: 5px 5px 5px #888888;
/*    height: 15em;*/
    width: 15em;
}

/*supplied[reason="lost"]::before{content: "[";}
supplied[reason="lost"]::after{content: "]";}
*/

/*supplied[reason="omitted"]::before{content: "⟨";}*/
/*supplied[reason="lost"][cert="low"]::after{content: " ?]";}*/

/*supplied[reason="omitted"]::after{content: "⟩";}*/

placeName{
/*    color:red;*/
}

del{text-decoration: none;}
/*del::before{content : "⟦"}
del::after{content : "⟧"}
*/
am{display: none;}

hi[rend="supraline"]{
        border-top:solid;
        border-top-width: thin;}
hi[rend="underline"]{
        border-bottom:solid;
        border-bottom-width: thin;}
hi[rend="intraline"]{
        text-decoration: line-through;}
.textPartHeader{
    position: relative;
    left: -0.5em;
    top: 1em;
    text-transform: capitalize;
    display:block}
.textPartDiv, .textPart{
    position: relative;
    top: -2em;
    left: 1.5em;
    z-index: 10;
    line-height: 2.5em;
}
#edition > h2{ font-size: small;}
/*CSS for HTML got from transformation with EpiDoc stylesheets
 *   */

/* .linenumber{position: relative;
left: -3em} */

.epidoc .linenumber{position: absolute; left: -4em;}
/**********************
*   Dashboard    *
**********************/

table.dataTable td {
  word-break: break-word;
}

#documentList td:nth-child(6) {
font-size: smaller;
}

.word:after{
    content: " ";}

hi[rend='italic']{font-style:italic;}
hi[rend='bold']{font-weight:bold;}