<?xml version="1.0" encoding="UTF-8"?>
<div xmlns:i18n="http://exist-db.org/xquery/i18n" class="navbar-collapse collapse" id="navbar-collapse-1" data-template="i18n:translate" data-lang="en" xml:lang="en" data-catalogues="db/apps/zusohnum/data/i18n/">
    <ul class="nav navbar-nav  col-sm-8 col-md-8" xml:lang="en">
        <li id="home">
            <a class="tp-menu-item" href="/">
                <div>
                    <i18n:text key="home"/>
                </div>
            </a>
            
            
        </li>
        <!--<li id="home">
            <a class="tp-menu-item" href="">
                <div>
                    <i18n:text key="epdocViewer"/>
                </div>
            </a>
            
            
        </li>
    -->
        <li class="" data-template="app:admin-menu">
            <a href="#loginDialog" data-toggle="modal" title="i18n(login)">
                <ul>
                    <div>
                        <i18n:text key="teiEditor"/>
                    </div>
                </ul>
            </a>
            <a href="/admin/">
                <div>
                    <i18n:text key="teiEditor"/>
                </div>
            </a>
        </li>
        <li class="" data-template="app:admin-menu">
            <a href="#loginDialog" data-toggle="modal" title="i18n(login)">
                <ul>
                    <div>
                        <i18n:text key="skosThesau"/>
                    </div>
                </ul>
            </a>
            <a href="/concept/">
                <div>
                    <i18n:text key="skosThesau"/>
                </div>
            </a>
        </li>
        
        
     
    </ul>
    <ul class="nav navbar-nav navbar-right adminMenu">
        <div class="" data-template="app:admin-menu">
            <a href="#loginDialog" data-toggle="modal" title="i18n(login)">
                <ul>
                    <div>
                        <i class="material-icons">account_circle</i>
                        <i18n:text key="login"/>
                    </div>
                </ul>
            </a>
            
            <li class="dropdown">
                <div class="dropdown-toggle" type="" data-toggle="dropdown">
                    <i class="material-icons">dashboard</i>
                    <span class="app:current-user"/>
                    <span class="caret"/>
                </div>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/admin/">Corpus Dashboard</a>
                    </li>
                    
                    <!--<li>
                        <a href="/admin/new-document/">Create a new document
                            (beta)</a>
                    </li>   -->
                    
                    <!--<li>
                        <a href="/admin/edit/document/apc-d-1a">Edit trial document</a>
                    </li>-->
                    
                    <li role="separator" class="divider"/>
                    <li>
                        <a href="/concept/">Browse Thesaurus</a>
                    </li>
                    <li role="separator" class="divider"/>
                    <li>
                        
                        <form class="" action="" method="post">
                            <input type="hidden" name="logout" value="true"/>
                            <button type="submit" class="btn btn-block btn-primary">
                                    <i class="material-icons">account_circle</i>
                                <i18n:text key="logout"/>
                            </button>
                        </form>
                        
                    </li>
                </ul>
            </li>
            
            <!--
            -->
        </div>
        
    </ul>
    
    
</div>